{% extends "layouts.app" %}

{% block content %}


    <div class="container-fluid pt-5 pb-5">
      <h1>Welcome to Simple Marketplace!</h1>
      <ol>
        <li>Post a job today</li>
        <li>Find a tradesperson</li>
        <li>Leave feedback</li>
      </ol>
    </div>


{% endblock %}
